.datatables{
    height: 600px;
    padding: 20px;
    .datatableTitle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        color: gray;
        .link{
            text-decoration: none;
            color: green;
            font-size: 16;
            font-weight: 400;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid green;
            cursor: pointer;
        }
    }

    .cellwithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px ;
        }
    }
    .cellwithStatus{
        padding: 5px;
        border-radius: 5px;
        font-weight: 600;
        &.active{
            background-color: rgb(181, 248, 181);
            color: darkgreen;
        }
        &.pending{
            background-color:rgb(252, 252, 175);
            color: darkgoldenrod;
        }
        &.passive{
            background-color:rgb(243, 142, 142);
            color: darkred;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
        .viewButton{
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgb(17, 61, 238);
        cursor: pointer;

        }
        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkred;
            border: 1px dotted rgb(246, 39, 39);
            cursor: pointer;
        }
    }

}