.navbar{
    height: 55px;
    border-bottom: 0.5px solid rgb(231,228,228);
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;

    .wrapper{
        display: flex;
        width:100%;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        
        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgrey;
            padding: 3px;
            height: 25px;
            width: 260px;
            .searchIcon{
                margin-left: 25%;
            }
            input{
                border: none;
                outline: none;
                background-color: transparent;
                &::placeholder{
                    font-size: 14px;
                }
            }
        }
        .items{
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon{
                    font-size: 27px;

                    &:hover{
                        cursor: pointer;
                        height: 40px;
                        width: 40px;
                        border-radius: 7px;
                        background-color:  #f6f6f7;
                    }
                }
                .avatar{
                    height: 40px;
                    width: 40px;
                    border-radius: 50px;

                }
                .counter{
                    height: 20px;
                    width: 20px;
                    background-color: rgb(226, 57, 57);
                    border-radius: 50px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 17px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px ;

                }
            }
        }
    }
}