.wiget{
    display: flex;
    flex:1;
    padding:10px;
    justify-content: space-between;
    box-shadow: 12px 10px 7px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 10px 7px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 10px 7px -12px rgba(0,0,0,0.75);
    border-radius: 10px;
    height: 100px;
    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .title{
        font-size: 14;
        font-weight: bold;
        color: gray;
    }
    .counter{
        font-size: 25px;
        font-weight: 300;

    }
    .link{
        width: max-content;
        font-size: 12px;
        border-bottom:1px solid ;
    }
    .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;
        
        &.positive{
            color: green;
        }
        &.negitive{
            color: red;
        }
    }
    .icon{
        font-size:18px;
        padding:5px;
          border-radius: 5px;
        align-self: flex-end;

    }
}