.sidebar{
    background-color: white;
    border-right: 0.5px solid rgb(138, 138, 138);
    min-height: 100vh;

    flex: 1;
    .top{
        height :55px;
        display: flex;
        align-items:center;
        justify-content: center;
        background-color: white;
        
    }
    .logo{
        font-size: 20px;
        font-weight: bold;
        color:#0081C9 ;
    }
    .hr{
        height: 0;
    }
    .center{
        padding-left: 10px;
        
        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 14px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: #87cff5;
                }
                .icon{
                    font-size: 22px;
                    color: #0081C9;
                }
                span{
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #888;
                }
            }
        }
    }
    .buttom{
        display: flex;
        align-items: center;
        margin: 10px;
        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border:1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            &:nth-child(2){
                background-color: #333;
            }

        }
    }

}